<launch>
  <!--hard coded definition of some constraints/features -->
  <param name="humanoid" type="bool" value="False" />
  <node name="constraints" pkg="robohow_sot" type="dummySequencer.py" output="screen">
  </node>


  <!--define some tf for the environment-->
  <node name="tf_bottle" pkg="tf"
        type="static_transform_publisher"
        args="0.6 -0.27 0.7   0.80  -0.10  -0.066 /odom /bottle 100"/>


  <node name="tf_cup" pkg="tf"
        type="static_transform_publisher"
        args="0.6 0 0.6  0 0 0 1 /odom /cup 100"/>

  <!-- define environment key elements -->
  <node name="bottle"    pkg="dynamic_graph_bridge" type="tf_publisher">
    <param name="frame"       type="string" value="bottle" />
    <param name="child_frame" type="string" value="odom" />
    <param name="topic"       type="string" value="bottle" />
  </node>

  <node name="cup"    pkg="dynamic_graph_bridge" type="tf_publisher">
    <param name="frame"       type="string" value="cup" />
    <param name="child_frame" type="string" value="odom" />
    <param name="topic"       type="string" value="cup" />
  </node>
</launch>
