<launch>
  <!--hard coded definition of some constraints/features -->
  <param name="humanoid" type="bool" value="False" />
  <node name="constraints" pkg="robohow_sot" type="dummySequencer.py" output="screen">
  </node>

  <!--start the feature visualization node -->
  <node name="feature_viz" pkg="feature_constraints_utils" type="feature_viz.py" output="screen"/>

  <!--define some tf for the environment-->
  <node name="tf_bottle" pkg="tf"
        type="static_transform_publisher"
        args="0.68 -0.27 0.83   0.80  -0.10  -0.066 /odom /bottle 100"/>


  <node name="tf_cup" pkg="tf"
        type="static_transform_publisher"
        args="0.4 0 0.8  0 0 0 1 /odom /cup 100"/>

  <!-- define environment key elements -->
  <node name="bottle" pkg="robohow_sot" type="tf_to_MatrixHomo.py" args="bottle"/>
  <node name="cup"    pkg="robohow_sot" type="tf_to_MatrixHomo.py" args="cup"/>
</launch>
